<!DOCTYPE html>
<html lang="en">
    <head>
{% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'css/style2.css'%}">
    <link rel="stylesheet" href="{%static 'css/style3.css'%}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIT</title>
</head>
<body>
    <div class="h22">
        <nav class="h19">
            <a href="https://atria.edu/home.php"><img src="{%static 'img/logo-ait-v1.png'%}" alt="avatar" ><link href="https://atria.edu/home.php"></a>
            <div class="nav-links5">
                
                <ul>
                    <li><a href="{% url 'ci'%}">CS/IS</a></li>
                    <li><a href="{% url 'adminlogin'%}">Admin.Login</a></li>
                    <li><a href="{% url 'studentlogin'%}">Student.Login</a>
                    </li>
                    </ul>
                    </div>
                    </nav>
                    </div>
                    <h1 class="dtt"> cse/ise 5th Sem</h1>

    <section>
        <div class="dt1">Management and Entrepreneurship</div>
    <div class="cards">
       
      
        <a href=""><div class="card3">Model <br>Paper-1</div></a>
        <a href=""><div class="card3">Model <br>Paper-2</div></a>
        <a href=""><div class="card3">QP -1</div></a>
        <a href=""><div class="card3">QP -2</div></a>
        <a href=""><div class="card3">QP -3</div></a>
        <a href=""><div class="card3">QP -4</div></a>
      
      </div>
    </section>
    <section>
        <div class="dt1">Automata Theory and Computability</div>
    <div class="cards">
      
       
        <a href=""><div class="card3">Model <br>Paper-1</div></a>
        <a href=""><div class="card3">Model <br>Paper-2</div></a>
        <a href=""><div class="card3">QP -1</div></a>
        <a href=""><div class="card3">QP -2</div></a>
        <a href=""><div class="card3">QP -3</div></a>
        <a href=""><div class="card3">QP -4</div></a>
      </div>
    </section>
    <section>
        <div class="dt1">Computer Networks and Security</div>
    <div class="cards">
      
        <a href=""><div class="card3">Model <br>Paper-1</div></a>
        <a href=""><div class="card3">Model <br>Paper-2</div></a>
        <a href=""><div class="card3">QP -1</div></a>
        <a href=""><div class="card3">QP -2</div></a>
        <a href=""><div class="card3">QP -3</div></a>
        <a href=""><div class="card3">QP -4</div></a>
      </div>
    </section>
    <section>
        <div class="dt1">Application Development using Python</div>
    <div class="cards">
       
        <a href=""><div class="card3">Model <br>Paper-1</div></a>
        <a href=""><div class="card3">Model <br>Paper-2</div></a>
        <a href=""><div class="card3">QP -1</div></a>
        <a href=""><div class="card3">QP -2</div></a>
        <a href=""><div class="card3">QP -3</div></a>
        <a href=""><div class="card3">QP -4</div></a>
      </div>
    </section>
    <section>
        <div class="dt1">Unix Programming</div>
    <div class="cards">
      
        <a href=""><div class="card3">Model <br>Paper-1</div></a>
        <a href=""><div class="card3">Model <br>Paper-2</div></a>
        <a href=""><div class="card3">QP -1</div></a>
        <a href=""><div class="card3">QP -2</div></a>
        <a href=""><div class="card3">QP -3</div></a>
        <a href=""><div class="card3">QP -4</div></a>
      </div>
    </section>
    <section>
        <div class="dt1">Database Management System</div>
    <div class="cards">
      
        <a href=""><div class="card3">Model <br>Paper-1</div></a>
        <a href=""><div class="card3">Model <br>Paper-2</div></a>
        <a href=""><div class="card3">QP -1</div></a>
        <a href=""><div class="card3">QP -2</div></a>
        <a href=""><div class="card3">QP -3</div></a>
        <a href=""><div class="card3">QP -4</div></a>
      </div>
    </section>
    <section>
        <div class="dt1">EVS</div>
    <div class="cards">
      
        <a href=""><div class="card3">Model <br>Paper-1</div></a>
        <a href=""><div class="card3">Model <br>Paper-2</div></a>
        <a href=""><div class="card3">QP -1</div></a>
        <a href=""><div class="card3">QP -2</div></a>
        <a href=""><div class="card3">QP -3</div></a>
        <a href=""><div class="card3">QP -4</div></a>
      </div>
    </section>
   
    
    
</body>
</html>


