

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel = "icon" href ="{% static 'img/44851230.jpg' %}" type = "image/x-icon">
    
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/style3.css'%}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/style2.css'%}">
    <link rel="stylesheet" href="{%static 'css/nav.css'%}">
    <title>AIT</title>
    <link rel = "icon" href ="{% static 'img/44851230.jpg' %}" type = "image/x-icon">

</head>
<body>
    <section class="main">
        <div class="h12">
            
                <nav class="h123">
                  
                    <a href="https://atria.edu/home.php"><img src="{% static 'img/logo-ait-v1.png' %}" alt="avatar" ><link href="https://atria.edu/home.php"></a>
                    <div class="nav-links1">
                        
                        <ul>
                            <li><a href="">Admin</a></li>
                            <li><a href="{% url 'welcome'%}">Logout</a></li>
                            <li><a href=""></a>
                            </ul>
                            </div>
                            </nav>
                            
        </div>
    </section>




<!------------
       <section class="main1">
        <nav class="h14">
                
            <div class="nav-links2">
                
                <ul>
                    <li><a href="table.html">Lending books</a></li>
                    <li><a href="fadmin.html">Insert records</a></li>
                    <li><a href="firstadminpg.html">-----</a></li>
                    
                </ul>
                
            </div>
            
        
        </nav>
    </section>
-->
<section>    
<div class="sidebar">
    <aside class="w-64" aria-label="Sidebar">
        <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
           <ul class="space-y-2">
             <!---- <li>
                <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <svg class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                      </svg>
                    <span class="ml-3"><button onclick="" type="button" class="btn btn-outline-light"><h6>Profile</h6></button></span>
                 </a>
                </li>
              <hr class="rounded">
              <li>
                <a href="{% url 'Supload' %}" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                    <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M7 6a1 1 0 0 1 2 0v1H7V6zM6 8.3c0-.042.02-.107.105-.175A.637.637 0 0 1 6.5 8h3a.64.64 0 0 1 .395.125c.085.068.105.133.105.175v2.4c0 .042-.02.107-.105.175A.637.637 0 0 1 9.5 11h-3a.637.637 0 0 1-.395-.125C6.02 10.807 6 10.742 6 10.7V8.3z"/>
                        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-2 6v1.076c.54.166 1 .597 1 1.224v2.4c0 .816-.781 1.3-1.5 1.3h-3c-.719 0-1.5-.484-1.5-1.3V8.3c0-.627.46-1.058 1-1.224V6a2 2 0 1 1 4 0z"/>
                    </svg></svg>
                    <span class="flex-1 ml-3 whitespace-nowrap"><button onclick="" type="button" class="btn btn-outline-light"><h6>Upload<br>Student</h6></button></span>
                   
                 </a>
              </li>
              <hr class="rounded">-->
              <li>
                <a href="{% url 'Sregister' %}" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 text-white-900 dark:hover:bg-gray-700">
                   <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-blue" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>
                   <span class="flex-1 ml-3 whitespace-nowrap "><button onclick="" type="button" class="btn btn-outline-light"><h6>Add<br>Student</h6></button></span>
                  
                </a>
             </li>
             <hr class="rounded">
             <li>
                <a href="{% url 'Stlist' %}" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 text-white-900 dark:hover:bg-gray-700">
                   <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-blue" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>
                   <span class="flex-1 ml-3 whitespace-nowrap "><button onclick="" type="button" class="btn btn-outline-light"><h6>Student<br>List</h6></button></span>
                  
                </a>
             </li>
             <hr class="rounded">
            </ul>
          </div>
     </aside>
</div>




<div class="cards1 mx-auto">
    <a href="{% url 'table'%}"><div class="card1">Lend books</div></a>
    <a href="{% url 'insertbook'%}"><div class="card1">Insert records</div></a>
    <!---<a href="{% url 'firstadminpg'%}"><div class="card1">LogBook</div></a>-->
    <a href="{% url 'displayLib'%}"><div class="card1">Display Books</div></a> 
       </div>
    </section>
</body>
</html>